<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0// EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="userExample.xml"/>
        <mapper resource="User.xml"/>
        <mapper resource="Admin.xml"/>
        <mapper resource="Storage.xml"/>
        <mapper resource="Log.xml"/>
        <mapper resource="Exam.xml"/>
        <mapper resource="Project.xml"/>
        <mapper resource="Issue.xml"/>
    </mappers>
</configuration>
